<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no,
                initial-scale=1.0,
                maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" >
    <style>
        *{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            line-height:30px;
            font-weight: bold;

        }


        .photo{
            border: 1px solid black;
            width: 60px;
            height: 60px;
            text-align: center;
            align-content: center;
            float: right;
            padding-top: 2px;
            padding: 10px;

        }
    </style>
</head>
<body>
<div class="container">
    <div style="margin-bottom: -10px">
       <h2 style="text-align: center"> <img src="{{ asset('assets/admin/image/IMG_20220416_231844.jpg') }}" class="displayed" width="60" height="60" align="center"></h2>
    </div>

    <div class="row">
        <div class="Titre" style="
            color: black;">
            <p>
            <h3 style="text-align: center;text-decoration: underline;">FICHES D'INSCRIPTION DES MEMBRES - CELLULES RECAME</h3>
            </p>
        </div>
        <hr>
         <div class="Info_client" style="
            font-size: 15px;">
             <div class="row">
                 <div class="col-md-8">

                     <span>N°:</span> &nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>CODE DE PARRAINNAGE :</span> <div class="col-md-4 autre">
                         <p  class="photo" align="left">
                             PHOTO
                         </p>
                     </div>
                     <span>DEPARTEMENT:</span><br><br>
                     <span>COMMUNE/VILLAGE :</span><br><br>
                     <span>CELLULE :</span><br><br>
                     <span>QUARTIER :</span><br><br>
                     <span>NOM :</span><br><br>
                     <span>PRENOMS:</span><br><br>
                     <span>DATE DE NAISSANCE :</span><br><br>
                     <span>LIEU DE NAISSANCE :</span><br><br>
                     <span>SEXE :</span><br><br>
                     <span>NIVEAU D’ETUDES :</span><br><br>
                     <span>PROFESSION/FONCTION :</span><br><br>
                     <span>NATURE ET NUMERO DE LA PIECE D’IDENTITE :</span><br><br>
                     <span>LIEU DE VOTE :</span><br><br>
                     <span>NUMERO CARTE D’ELECTEUR  :</span><br><br>
                     <span>VOTRE PREOCCUPATION  :</span><br><br>
                     <span>CONTACTS   :</span><br><br>
                     <span>EMAIL   :</span><br><br>
                 </div>


             </div>
            {#  <table>
                  <tr>
                      <td>CLIENT</td>
                      <td>konate</td>
                  </tr>
                  <tr>
                      <td>PERIODE</td>
                      <td>Mois de 5555 ${month.year}</td>
                  </tr>
                  <tr>
                      <td>MONTANT TOTAL</td>
                      <td>55555 Fcfa</td>
                  </tr>
                  <tr>
                      <td>NOMBRE TOTAL TRANS.</td>
                      <td>5555</td>
                  </tr>
              </table>#}
          </div>
        <div class="row" style="margin-top: 10px">

            <br>
             <div style="text-align: justify;">
                 KALIKAN certifie que le client konate à bien
                 effectué les transactions ci-dessus mentionnées
                 dont le montant total est 55555 FCFA dans le mois de 74444 2021.
                 Ainsi le client peut faire valoir ce que de droit.
             </div>
             <br><br>
             <div style="text-align:right; padding-right: 20px;">
                 <p>KALIKAN</p>
             </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" ></script>
</body>
<!-- JavaScript Bundle with Popper -->

</html>