<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {# <link rel="stylesheet" href="formulaire.css">#}
    <title>Document</title>

    <style>
        *{
            margin: 0%;
            padding: 0%;
        }
        body{
            position: relative;
            background-image: url(image/IMG-20220418-WA0003.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position:bottom;
            backdrop-filter: blur(25px);
        }
        .image{
            position:absolute;
            top: 350px;
            right: 325px;
            border: 2px solid black;
            padding: 50px;
        }
        h1{
            font-size: 25px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            text-decoration: underline;
        }

        h3{
            width: 100%;
            text-transform: uppercase;
            margin-left: 20%;
        }

        .ligne1{
            display: flex;
            width: 100%;
            margin-left: 15%;
        }
        .ligne1 .ligne1_1{
            width: 400px;
        }
        .ligne1 .ligne1_1 h3{
            min-width: 100%;
        }
        .ligne15{
            display: flex;
            margin-left: 15.5%;
        }
        .ligne15 .ligne15_1{
            width: 350px;
        }
        .ligne15 .ligne15_1 ol{
            display: flex;
        }
        .ligne15 .ligne15_1 ol li{
            width: 100%;
            margin-left: 25px;
            text-transform:capitalize;
        }
        .date{
            margin-left: 50%;
        }
        .ligne19{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .ligne19 .ligne19_1 h3{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .ligne19 .ligne19_1 .signature{
            width: 200px;
            height: 70px;
            border: 2px solid black;
        }
        .ligne19 .ligne19_1 .signature1{
            width: 200px;
            height: 70px;
            border: 2px solid black;
            margin-left: 150px;
            margin-bottom: 50px;
        }
        .ligne20, .ligne21{
            text-align: center;
        }
        .ligne20 .ligne20_1, .ligne21 .ligne21_1{
            margin-left: 30px;
        }
        img{
            width: 300px;
            height: 300px;
            margin-left: 40%;
        }

    </style>
</head>
<body>
<img src="image/IMG-20220418-WA0003.jpg" alt="">
<h1>fiche d'identification des membres - cellules recame</h1>
<div class="image">
    <h2>PHOTO</h2>
</div>
<div class="ligne1">
    <div class="ligne1_1">
        <h3>n°:........................................................</h3>
    </div>
    <div class="ligne1_1">
        <h3>code parrainnage:............................................</h3>
    </div>
</div>
<h3>departement :......................................................................................</h3>
<h3>commune/village :..................................................................................</h3>
<h3>cellule :..........................................................................................</h3>
<h3>quartier :.........................................................................................</h3>
<h3>nom :..............................................................................................</h3>
<h3>prenom :...........................................................................................</h3>
<h3>date de naissance :................................................................................</h3>
<h3>lieu de naissance :................................................................................</ph3>
    <h3>sexe :.............................................................................................</h3>
    <h3>niveau d'etudes :..................................................................................</h3>
    <h3>profession/fonction :..............................................................................</h3>
    <h3>nature et numero de la piece d'identite :....................................................................</h3>
    <h3>lieu de vote  :....................................................................................</h3>
    <h3>numero carte d'electeur :...........................................................................</h3>
    <div class="ligne15">
        <div class="ligne15_1">
            <h3>votre preoccupation:</h3>
        </div>
        <div class="ligne15_1">
            <ol>
                <li>aide</li>
                <li>emploi/stage</li>
                <li>financement</li>
                <li>autre</li>
            </ol>
        </div>
    </div>
    <h3>........................................................................</h3>
    <h3>contacts :..............................................................</h3>
    <h3>email :.................................................................</h3>
    <p class="date">fait à Abidjan, le ......................................................</p>
    <div class="ligne19">
        <div class="ligne19_1">
            <h3>adherent</h3>
            <div class="signature"></div>
        </div>
        <div class="ligne19_1">
            <h3>coordonnateur communal/local</h3>
            <div class="signature1"></div>
        </div>
    </div>
    <div class="ligne20">
        <p>(00225) 27 22 207 938 - 05 86 010 593 - 07 68 510 393 <span class="ligne20_1">recame2020@yhoo.com</span></p>
    </div>
    <div class="ligne21">
        <p>ABIDJAN/COCODY ANGRE - 8eme Tranche <span class="ligne21_1">Immeuble YAHA - non loinde de la Pharmacie LES ARUMS</span></p>

    </div>
</body>
</html>