{% extends 'admin/_includes/index.html.twig' %}

{% block titre %}Recam | Calendar{% endblock %}
{% block style %}
 {#   <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>#}
{% endblock %}
{% block page_content %}
    {% set new="membre" %}
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col-sm mb-2 mb-sm-0">
                <h1 class="page-header-title">Dashboard</h1>
            </div>

            <div class="col-sm-auto">
               {# <a class="btn btn-primary"  href="#" {% if modal=="modal" %} data-toggle="modal" data-target="#editUserModal" {% endif %}>
                    <i class="tio-user-add mr-1"></i>Nouveau
                </a>#}
                {#  <a class="btn btn-primary btn-md"  href="{{ path('imprimer') }}" target="__blank">
                      <span class="d-md-block d-none"><i class="fa fa-print fa-1x"></i> imprimer</span></a>#}
            </div>
        </div>
    </div>
    <!-- Card -->
    {#{{ dump(data) }}#}
    <div class="card mb-3 mb-lg-5" id="calendrier">

    </div>

{% endblock %}
{% block javascripts %}

    <script>
  window.onload =(e) => {
      console.log(e)
     let calendarElt = document.querySelector("#calendrier")
      let calendar = new FullCalendar.Calendar(calendarElt,{
          height: 600,
          width: 700,
       initialView: 'timeGridWeek',
       locale: 'fr',
          themeSystem: 'bootstrap5',
       timeZone: 'Africa/west',
          headerToolbar:{
           start :'prev,next today',
           center: 'title',
           end: 'dayGridMonth,timeGridWeek'
          },
          eventRender: function(info) {
              console.log(info)
              var tooltip = new Tooltip(info.el, {
                  title: info.event.extendedProps.description,
                  placement: 'top',
                  trigger: 'hover',
                  container: 'body'
              });
          },
       events: {{ data|raw }},
          editable:true,
          eventResizableFromStart:true,
          eventClick: function(calEvent, jsEvent, view, resourceObj) {
              /*Open Sweet Alert*/
              swal({
                  title: calEvent.title,//Event Title
                  text: "Start From : "+moment(calEvent.start).format("MMMM Do YYYY, h:mm a"),//Event Start Date
                  icon: "success",
              });
          }
      });

      calendar.on('dateClick', function(info) {
          birthday = new Date();
          year = new Date(info.start).getFullYear();
          month = new Date(info.start).getMonth();
          day = new Date(info.start).getDate();
          //console.log(info);
          alert('clicked on ' + info.dateStr);
      });
      calendar.on('eventChange',(e)=>{
         let url =  `/api/${e.event.id}/edit`

          let donnees = {
             "title":e.event.title,
             "description":e.event.extendedProps.description,
             "start":e.event.start,
             "end":e.event.end,
             "backgroundColor":e.event.backgroundColor,
             "borderColor":e.event.borderColor,
             "textColor":e.event.textColor,
             "allDay":e.event.allDay,
             "oldallDay":e.oldEvent.allDay,
          }
          let xhr = new XMLHttpRequest()
           xhr.open("PUT",url)
           xhr.send(JSON.stringify(donnees))

      });
      /*calendar.on('dateClick', function(info) {
          console.log('clicked on ' + info.dateStr);
      });*/

        calendar.render(function render(e) {
console.log(e)
        });

  }
    </script>

{% endblock %}

