{% extends 'fils/base.html.twig' %}

{% block body %}
{% include 'fils/_includes/header.html.twig' %}
    <!--HEADER AREA END-->

    <!-- MAINCONTAIN-AREA START-->

    <!-- MAINCONTAIN-AREA END-->
    <div class="our-service">
        <div class="container">
            <div class="service">
                <div class="row">
                    <div class="col-md-4">
                        <div class="single-service">
                            <span class="icon"><i class="fa fa-plane"></i></span>
                            <div class="text">
                                <h2>Free standard delivery</h2>
                                <p>Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-service">
                            <span class="icon"><i class="fa fa-refresh"></i></span>
                            <div class="text">
                                <h2>100% Money back guarantee</h2>
                                <p>Praesent mollis cursus risus non aliquam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-service">
                            <span class="icon"><i class="fa fa-comments"></i></span>
                            <div class="text">
                                <h2>Online support 24/7</h2>
                                <p>Fusce commodo justo sit amet neque</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="featured-and-special-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <hr />
                    <h3 class="heading-text-home-4">Featured</h3><br>
                    <!-- FEATURED-PRODUCT START-->
                    <div class="featured-product section">
                        <div class="m-lr-n-15px">
                            <div class="featured-product-corusol-home-4">
                                <div class="p-lr-15px">
                                    <div class="single-featured-product">
                                        <div class="product_img">
                                            <a href="#">
                                                <img src="img/product/fetured/fetured_1.jpg" alt="Special"
                                                     class="primary-image" />
                                                <img src="img/product/fetured/fetured_2.jpg" alt="Special"
                                                     class="secondary-image" />
                                            </a>
                                            <a class="modal-view" href="#"data-bs-toggle="modal"
                                               data-bs-target="#productModal">
												<span class="quick-view">
													<i class="fa fa-external-link"></i>Quick view
												</span>
                                            </a>
                                            <div class="add-cart-area">
                                                <div class="fet-price">
                                                    <span class="addcart-text">$120.00</span>
                                                    <span class="addcart-text-del">$132.00</span>
                                                </div>
                                                <div class="wish">
                                                    <a href="#" class="shopping-cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                    <a href="#" class="favourite">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="infor-text">
                                            <a href="product_details.html"><span>Vestibulum et mollis nunc</span></a>
                                            <span class="star">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-lr-15px">
                                    <div class="single-featured-product prod-hover">
                                        <div class="product_img">
                                            <a href="#">
                                                <img src="img/product/fetured/fetured_2.jpg" alt="Special"
                                                     class="primary-image" />
                                                <img src="img/product/fetured/fetured_1.jpg" alt="Special"
                                                     class="secondary-image" />
                                            </a>
                                            <a class="modal-view" href="#"data-bs-toggle="modal"
                                               data-bs-target="#productModal">
												<span class="quick-view">
													<i class="fa fa-external-link"></i>Quick view
												</span>
                                            </a>
                                            <div class="add-cart-area">
                                                <div class="fet-price">
                                                    <span class="addcart-text">$120.00</span>
                                                    <span class="addcart-text-del">$132.00</span>
                                                </div>
                                                <div class="wish">
                                                    <a href="#" class="shopping-cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                    <a href="#" class="favourite">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="infor-text">
                                            <a href="product_details.html"><span>Vestibulum et mollis nunc</span></a>
                                            <span class="star">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-lr-15px">
                                    <div class="single-featured-product prod-hover">
                                        <div class="product_img">
                                            <a href="#">
                                                <img src="img/product/fetured/fetured_3.jpg" alt="Special"
                                                     class="primary-image" />
                                                <img src="img/product/fetured/fetured_1.jpg" alt="Special"
                                                     class="secondary-image" />
                                            </a>
                                            <a class="modal-view" href="#"data-bs-toggle="modal"
                                               data-bs-target="#productModal">
												<span class="quick-view">
													<i class="fa fa-external-link"></i>Quick view
												</span>
                                            </a>
                                            <div class="add-cart-area">
                                                <div class="fet-price">
                                                    <span class="addcart-text">$120.00</span>
                                                    <span class="addcart-text-del">$132.00</span>
                                                </div>
                                                <div class="wish">
                                                    <a href="#" class="shopping-cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                    <a href="#" class="favourite">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="infor-text">
                                            <a href="product_details.html"><span>Vestibulum et mollis nunc</span></a>
                                            <span class="star">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-lr-15px">
                                    <div class="single-featured-product prod-hover">
                                        <div class="product_img">
                                            <a href="#">
                                                <img src="img/product/fetured/fetured.jpg" alt="Special"
                                                     class="primary-image" />
                                                <img src="img/product/fetured/fetured_3.jpg" alt="Special"
                                                     class="secondary-image" />
                                            </a>
                                            <a class="modal-view" href="#"data-bs-toggle="modal"
                                               data-bs-target="#productModal">
												<span class="quick-view">
													<i class="fa fa-external-link"></i>Quick view
												</span>
                                            </a>
                                            <div class="add-cart-area">
                                                <div class="fet-price">
                                                    <span class="addcart-text">$120.00</span>
                                                    <span class="addcart-text-del">$132.00</span>
                                                </div>
                                                <div class="wish">
                                                    <a href="#" class="shopping-cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                    <a href="#" class="favourite">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="infor-text">
                                            <a href="product_details.html"><span>Vestibulum et mollis nunc</span></a>
                                            <span class="star">
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star active"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FEATURED-PRODUCT END-->
                </div>
            </div>
        </div>
    </div>

    <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close border-0" data-bs-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">
                            <div class="product-images">
                                <div class="main-image images">
                                    <img alt="" src="img/product/fetured/fetured_1.jpg">
                                </div>
                                <div class="thumbnail-img">
                                    <img src="img/product/product_details/product_details_small_1.jpg" alt="" />
                                    <img src="img/product/product_details/product_details_small_2.jpg" alt="" />
                                    <img src="img/product/product_details/product_details_small_3.jpg" alt="" />
                                </div>
                            </div><!-- .product-images -->

                            <div class="product-info">
                                <h1>Vestibulum et mollis nunc</h1>
                                <div class="price-box">
                                    <p class="price"><span class="special-price"><span
                                                    class="amount">$120.00</span></span></p>
                                </div>
                                <a href="#" class="see-all">See all features</a>
                                <div class="quick-add-to-cart">
                                    <form method="post" class="cart">
                                        <div class="numbers-row">
                                            <input type="number" id="french-hens" value="3">
                                        </div>
                                        <button class="single_add_to_cart_button" type="submit">Add to cart</button>
                                    </form>
                                </div>
                                <div class="quick-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est
                                    tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis
                                    justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id
                                    nulla.
                                </div>
                                <div class="social-sharing">
                                    <div class="widget widget_socialsharing_widget">
                                        <h3 class="widget-title-modal">Share this product</h3>
                                        <ul class="social-icons">
                                            <li><a target="_blank" title="Facebook" href="#"
                                                   class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
                                            <li><a target="_blank" title="Twitter" href="#"
                                                   class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
                                            <li><a target="_blank" title="Pinterest" href="#"
                                                   class="pinterest social-icon"><i class="fa fa-pinterest"></i></a>
                                            </li>
                                            <li><a target="_blank" title="Google +" href="#"
                                                   class="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a target="_blank" title="LinkedIn" href="#"
                                                   class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .product-info -->
                        </div><!-- .modal-product -->
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- END Modal -->
    </div>

  {% include 'fils/_includes/footer.html.twig' %}
{% endblock %}