<div class="tab-content" id="editUserModalTabContent">
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <form>
            <!-- Profile Cover -->
            <div class="profile-cover">
                <div class="profile-cover-img-wrapper">
                    <img id="editProfileCoverImgModal" class="profile-cover-img" src="{{ asset('assets/img/1920x400/img1.jpg') }}" alt="Image Description">

                    <!-- Custom File Cover -->
                    <div class="profile-cover-content profile-cover-btn p-3">
                        <div class="custom-file-btn">
                            <input type="file" class="js-file-attach custom-file-btn-input" id="editProfileCoverUplaoderModal"
                                   data-hs-file-attach-options='{
                                      "textTarget": "#editProfileCoverImgModal",
                                      "mode": "image",
                                      "targetAttr": "src",
                                      "allowTypes": [".png", ".jpeg", ".jpg"]
                                   }'>
                           {# <label class="custom-file-btn-label btn btn-sm btn-white" for="editProfileCoverUplaoderModal">
                                <i class="tio-add-photo"></i>
                                <span class="d-none d-sm-inline-block ml-1">Upload header</span>
                            </label>#}
                        </div>
                    </div>
                    <!-- End Custom File Cover -->
                </div>
            </div>
            <!-- End Profile Cover -->

            <!-- Avatar -->
            <label class="avatar avatar-xxl avatar-circle avatar-border-lg avatar-uploader profile-cover-avatar mb-5" for="editAvatarUploaderModal">
                <img id="editAvatarImgModal" class="avatar-img" src="{{ asset('assets/img/160x160/img9.jpg') }}" alt="Image Description">

               {# <input type="file" class="js-file-attach avatar-uploader-input" id="editAvatarUploaderModal"
                       data-hs-file-attach-options='{
                                "textTarget": "#editAvatarImgModal",
                                "mode": "image",
                                "targetAttr": "src",
                                "allowTypes": [".png", ".jpeg", ".jpg"]
                             }'>

                <span class="avatar-uploader-trigger">
                      <i class="tio-edit avatar-uploader-icon shadow-soft"></i>
                    </span>#}
            </label>

        </form>
    </div>

</div>